#!/bin/bash

export ARCHIVESSPACE_LOGS=/apps/aspace/aspace/logs/archivesspace.out
export ASPACE_HOME=/apps/archivesspace-1.5.2

case "$1" in
    start)
        cd "$ASPACE_HOME"
        ./archivesspace.sh start        
        ;;
    stop)
        cd "$ASPACE_HOME"
        ./archivesspace.sh stop        
        ;;
    restart)
        cd "$ASPACE_HOME"
        ./archivesspace.sh restart        
        ;;
    *)
        echo "Unrecognized command: $1" >&2
        exit 1
esac
